@import "tailwindcss";
@theme {
  --color-mainColor: #5c9f24;
}
/* * {
  border: rgba(153, 11, 11, 0.6) 1px solid !important;
} */
.showImage {
  opacity: 100;
}
.showContent {
  opacity: 100;
  z-index: 10;
}
.showContent h1 {
  transform: translateY(100px);
  opacity: 100;
}

.showContent p {
  transform: translateY(-100px);
  opacity: 100;
}

.showContent button {
  transform: translateY(-150px);
  opacity: 100;
}
